@model List<Product>

@{
    if (User.Identity.IsAuthenticated)
    {
        <div class="formCont">
            <h1 class="subTtitle">Lista de Produtos</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">nome do cliente</th>
                        <th scope="col">nome do produto</th>
                        <th scope="col">categoria</th>
                        <th scope="col">preço</th>
                        <th scope="col">Atualizar Produto</th>
                        <th scope="col">Deletar Produtor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                             
                            <td>@User.Identity.Name</td>
                            <td>@item.Name</td>
                            <td>@item.Category</td>
                            <td>@item.Price</td>
                            <td><a asp-action="UpdateProductPage" asp-controller="Home" asp-route-id="@item.Id">atualizar</a></td>
                            <td><a asp-action="DeleteProductPage" asp-controller="Home" asp-route-id="@item.Id">deletar</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    }
    else
    {
        <div class="loginContainer">
            <h2>Necessário realizar login</h2>
            <a  asp-action="LoginPage" asp-controller="Account" class="btn btn-primary">Logar-se</a>
        </div>
    }
}
